@{
    ViewBag.Title = "Index";
}

<h2>Pagina de Sobre</h2>
<div class="row-fluid">
    <div class="span4">
        <h2>BootStrap</h2>
        <p>Framework para desenvolvimento front-end bla bla bla bla</p>
        <p><a class="btn">Veja Mais</a></p>
    </div>
    <div class="span4">
        <h2>Asp.Net</h2>
        <p>Framework para desenvolvimento front-end bla bla bla bla</p>
        <p><a class="btn">Veja Mais</a></p>
    </div>
    <div class="span4">
        <h2>HTML 5</h2>
        <p>Framework para desenvolvimento front-end bla bla bla bla</p>
        <p><a class="btn">Veja Mais</a></p>
    </div>
</div>