@model IEnumerable<TISelvagem.Dominio.Aluno>
@{
    ViewBag.Title = "Lista de Alunos";
}

<h2>Lista de Alunos</h2>

<ul>
    @foreach (var aluno in Model)
    {
        <li>@aluno.Nome</li>
    }
</ul>
