<div class="span3">
    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Usuários</li>
            <li class="active"><a href="#">Listar</a></li>
            <li><a href="#">Cadastrar</a></li>
            <li class="nav-header">Notícias</li>
            <li ><a href="#">Noticia</a></li>
            <li><a href="#">Listar Fotos</a></li>
        </ul>
    </div>
</div>