<div class="row">
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <a class="brand" href="#">ASP.Net MVC</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
    </div>
</div>