@model RotasMVC.Models.Noticia
@{
    ViewBag.Title = Model.Titulo;
}

<h2>@Model.Titulo</h2>
<em>@Model.Data - @Html.ActionLink(Model.Categoria, "MostraCategoria", "Home", new {@categoria = Model.Categoria},null)</em>
<div>
    @Model.Conteudo
</div>