@model IEnumerable<RotasMVC.Models.Noticia>
@{
    ViewBag.Title = "Categoria";
}

<h2>Categoria: @ViewBag.Categoria</h2>
<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Titulo, "MostraNoticia", "Home", new
                    {
                        @noticiaId = item.NoticiaId,
                        @categoria = item.Categoria.ToLower(),
                        @titulo = item.Titulo.ToLower()
                    }, null)
                <em>@Html.DisplayFor(modelItem => item.Categoria)</em>
                <b>@Html.DisplayFor(modelItem => item.Data)</b>
            </li>
        }
    </ul>
</div>
